.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.size-sm {
  font-size: 12px;
  padding: 10px 16px;
}

.size-md {
  font-size: 14px;
  padding: 11px 20px;
}

.size-lg {
  font-size: 16px;
  padding: 12px 24px;
}

.color-primary {
  background: var(--color-primary) !important;
  color: var(--color-primary-inverted) !important;
}

.color-secondary {
  background: var(--color-secondary);
  color: var(--color-secondary-inverted);
}

.color-base {
  border: var(--border-width-thin) solid var(--color-gray);
  background: var(--color-base);
}
#161F27
.button__icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: text-top;
}